html,
body {
  position: relative;
  // height: 100%;
}

#app {
  position: relative;
  min-height: 100vh;
  background: #f0f2f5;
}

.router-view {
  position: relative;
  // top: 60px;
  // height: calc(100vh - 60px);
  // padding: 0 16px 20px 16px;
  box-sizing: border-box;

  .page {
    padding: 60px 16px 20px 16px;
  }
}

.el-loading-spinner {
  position: fixed;
  top: calc(100vh/2);
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.flex-item-center {
  display: flex;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-between-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.back-top-icon {
  display: block;
  width: 16px;
  height: 18px;
}