.add-wrap {
  width: 100%;
  height: 30px;
  line-height: 30px;
  border: 1px dashed #2bb8bd;
  text-align: center;
  font-size: 14px;
  color: #2bb8bd;
  box-sizing: border-box;
  border-radius: 2px;
  cursor: pointer;
}