.add-wrap {
  width: 100%;
  height: 30px;
  line-height: 30px;
  border: 1px dashed #2bb8bd;
  text-align: center;
  font-size: 14px;
  color: #2bb8bd;
  box-sizing: border-box;
  border-radius: 2px;
  cursor: pointer;
}

.row-item {
  position: relative;
}

.transfer-wrap {
  /deep/ .el-transfer-panel {
    width: calc((100% - 76px)/2);
    border-radius: 2px;

    .el-transfer-panel__header {
      height: 38px;
      line-height: 38px;
      background-color: #fff;

      .el-checkbox__label {
        font-size: 14px;
        color: #333;
        vertical-align: middle;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 80%;
      }
    }
  }

  /deep/.el-transfer-panel__item.el-checkbox {
    height: auto;

    .el-checkbox__label {
      overflow: auto;
      word-break: break-all;
      white-space: normal;
      display: block;
    }
  }

  /deep/ .el-transfer-panel__filter {
    .el-input__inner {
      border-radius: 2px;
    }
  }

  /deep/.el-transfer__buttons {
    padding: 0 15px;

    button {
      display: block;
      margin: 0 0 4px 0;
    }

    button:nth-child(2) {
      margin: 4px 0 0 0;
    }
  }
}

// icon
.add-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  width: 14px;
  height: 14px;
}


.delete-icon {
  position: absolute;
  right: -25px;
  top: 13px;
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  cursor: pointer;
}